{% extends 'layout.html' %}

{% block body%}
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <h1 class="display-4">{{restaurant['name']}}</h1>
            <hr style="border-top: 1px solid #8c8b8b;">
        </div>
        <div class="col-md-12 pt-4 pb-4">
            <form method="POST" action="/update/{{restaurant['id']}}" class="text-center">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">  
                            <label for="name">Name </label> 
                            <input class="form-control border border-light" id="name" type="text" name="name" value="{{restaurant['name']}}" required>
                        </div>
                        <div class="form-group ">  
                            <label for="cuisine">Cuisine </label> 
                            <input class="form-control border border-light" id="cuisine" type="text" name="cuisine" value="{{restaurant['cuisine']}}" required>
                        </div>
                        <div class="form-group">  
                            <label for="city">Borough </label> 
                            <input class="form-control border border-light" type="text" id="city" name="borough" value="{{restaurant['borough']}}" required>
                        </div>
                        <div class="form-group ">
                            <label for="street">Street </label>  
                            <input id="street" class="form-control border border-light" name="street" value="{{restaurant['address']['street']}}" required>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group ">  
                            <label for="zip">Zip Code </label> 
                            <input class="form-control border border-light" type="number" id="zip" name="zipcode" value="{{restaurant['address']['zipcode']}}" required>
                        </div>
                        <div class="form-group ">  
                            <label for="latitude">Latitude </label> 
                            <input class="form-control border border-light" step="any" type="number" id="latitude" name="latitude" value="{{restaurant['address']['coord'][1]}}" required>
                        </div>
                        <div class="form-group">  
                            <label for="longitude">Longitude </label> 
                            <input class="form-control border border-light" step="any" type="number" id="longitude" name="longitude" value="{{restaurant['address']['coord'][0]}}" required>
                        </div>
                    </div> 
                </div>
                <div class="row pt-2">
                    <div class="col-md-5" style="margin-left: 250px;">
                        <button type="submit" class="btn btn-success btn-lg"> Save Changes </button>
                        <h4 class="pt-3" 
                        style=
                        " width: 100%; 
                        text-align: center; 
                        border-bottom: 1px solid grey; 
                        line-height: 0.1em;
                        margin: 10px 0 20px; "
                        >
                            <span style="background:#fff; padding:0 10px; color: grey;"> Or </span>
                        </h4>
                        <a href="/delete/{{restaurant['id']}}" class="btn btn-danger btn-lg mt-2"> Delete </a>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}